:root{
    --MAIN:#01c295;
    --MAIN_LIGHT:#49f4b0;
    --MAIN_LIGHTP:#7fecad;
    --MAIN_B:#03ad7a;
    --MAIN_O:#b9fe43;
    --DEEP:#8aff9d;
    --MAIN_R:#69fd89;
    --MAIN_D:#9fffd8;
    --CHAT_B:#c3ffde;
;}