:root{
    --MAIN:#f3f9f1;
    --MAIN_LIGHT:#e0f0e9;
    --MAIN_LIGHTP:#c0ebd7;
    --MAIN_B:#bacac6;
    --MAIN_O:#ffd2d2;
    --DEEP:#75878a;
    --MAIN_R:#fff2df;
    --MAIN_D:#636363;
    --CHAT_B:#e9e7ef;
;}